<div class="card customer">
  <div class="card-block">
    <h4 class="card-title">
      <%= customer.full_name %>
    </h4>
  </div>

  <%= image_tag customer.image, class: 'card-img-top img-fluid mx-auto d-block' %>

  <div class="card-block">
    <p class="card-text">
      <strong>Phone:</strong>
      <%= customer.phone_number %>
    </p>

    <p class="card-text">
      <strong>Email:</strong>
      <%= customer.email %>
    </p>

    <p class="card-text notes">
      <%= customer.notes %>
    </p>
  </div>

  <div class="card-footer">
    <%= link_to 'Edit', edit_customer_path(customer) %> -
    <%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>

</div>
